<header>
    <p>{{pageName}}</p>
    <div id='links'>
        <a href='/'>weather</a>
        &nbsp;	
        <a href='/about'>about</a>
        &nbsp;	
        <a href='/help'>help</a>
    </div>
</header>